<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.tabactivity" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".OneActivity"/>
        <activity android:name=".TwoActivity"/>
        <activity android:name=".ThreeActivity"/>
        <activity android:name=".InsideActivity"/>
        <activity
            android:name="PreferencesActivity2">
            android:parentActivityName="com.android.tabactivity.MainActivity" >
            <intent-filter >
                <action android:name="com.android.tabactivity.PreferencesActivity2" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name="PreferencesActivity3">
            android:parentActivityName="com.android.tabactivity.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.android.tabactivity.MainActivity" />
        </activity>

    </application>

</manifest>
